<footer>

  <!-- ظرف برش -->
  <div class="relative w-full h-[180px] overflow-hidden">

    <!-- دایره واقعی -->
    <div
      class="absolute left-1/2 top-0
             -translate-x-1/2
             w-[200vw] h-[200vw]
             rounded-full
             bg-gradient-to-t from-blue-900 to-blue-400">
    </div>

  </div>

  <!-- متن -->
  <div class="relative -mt-28 text-center text-white pb-6 text-sm
            drop-shadow-[0_-6px_12px_rgba(0,0,0,0.45)]">
    <p class="mb-2">
      © تمامی حقوق برای شرکت فرآیند زلال آب کاوه محفوظ است.
    </p>
    <p>
     ™ طراحی شده توسط
      <a href="https://github.com/danialKK"
         target="_blank"
         rel="noopener noreferrer"
         class="underline hover:text-blue-200">
          توسعه هاب
      </a>
    </p>
</div>


</footer>

